allure-pytest
allure-python-commons
build
dacite
paramiko
pytest
requests
selenium
urllib3
boto3
python-rapidjson
pytest-dependency
#msedge-selenium-tools
webdriver-manager
toml
prettytable
PyYAML
html2text
lxml
python-dateutil
cpe
packageurl-python
